.Navbar {
  padding: 20px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-size: xx-large;
}

.search-section {
  display: flex;
  align-items: center;
}

.search-box {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}
